<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <filter>
  	<filter-name>ExceptionFilter</filter-name>
  	<filter-class>com.lames.admin.filter.ExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ExceptionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.jake.webmvc.core.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <servlet>
  	<servlet-name>ListToUpdate</servlet-name>
  	<servlet-class>com.lames.admin.servlet.merchantdetail.ListToUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStatus</servlet-name>
  	<servlet-class>com.lames.admin.servlet.merchantdetail.UpdateStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListVerify</servlet-name>
  	<servlet-class>com.lames.admin.servlet.merchantdetail.ListVerify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyStatus</servlet-name>
  	<servlet-class>com.lames.admin.servlet.merchantdetail.VerifyStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetPassedShopID</servlet-name>
  	<servlet-class>com.lames.admin.servlet.merchantdetail.GetPassedShopID</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindMerchantDetail</servlet-name>
  	<servlet-class>com.lames.admin.servlet.merchantdetail.FindMerchantDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MerchantLogin</servlet-name>
  	<servlet-class>com.lames.admin.servlet.merchant.MerchantLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MerchantRegister</servlet-name>
  	<servlet-class>com.lames.admin.servlet.merchant.MerchantRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TAdminServiceimpl</servlet-name>
  	<servlet-class>com.lames.admin.service.impl.TAdminServiceimpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TAdminLogin</servlet-name>
  	<servlet-class>com.lames.admin.servlet.tadmin.TAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListToUpdate</servlet-name>
  	<url-pattern>/MerchantDetail/ListToUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStatus</servlet-name>
  	<url-pattern>/MerchantDetail/UpdateStatus.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListVerify</servlet-name>
  	<url-pattern>/MerchantDetail/ListVerify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyStatus</servlet-name>
  	<url-pattern>/MerchantDetail/VerifyStatus.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetPassedShopID</servlet-name>
  	<url-pattern>/GetPassedShopID.do</url-pattern><!-- C段获取商店ID列表不能过滤 -->
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindMerchantDetail</servlet-name>
  	<url-pattern>/merchantdetail.do</url-pattern><!-- M端获取申请审核的信息不能过滤 -->
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MerchantLogin</servlet-name>
  	<url-pattern>/merchant/login.do</url-pattern><!-- 商家登陆不能过滤 -->
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MerchantRegister</servlet-name>
  	<url-pattern>/merchant/register.do</url-pattern><!-- 商家注册不能过滤 -->
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TAdminLogin</servlet-name>
  	<url-pattern>/MerchantDetail/Login.do</url-pattern><!-- 登陆不能过滤 -->
  </servlet-mapping>
</web-app>
